.update-list-btn {
  display: flex;
  gap: 0.3rem;
}

.drive-button {
  display: flex;
  gap: 0.3rem;
}

.text-model {
  display: flex;
  align-items: center;

  padding: 0 0.5rem;

  font-size: 1rem;
  letter-spacing: 0.06rem;
}
